
<h2> Select the operation to perform</h2>
<div>
    <input type="button" value="Create Support Ticket" onclick="@("window.location.href='" + @Url.Action("Index", "SupportTicket") + "'");" />
</div>
<br />
<br/>
<div>
    <input type="button" value="Filter Support Ticket" onclick="@("window.location.href='" + @Url.Action("Index", "FilterSupportTicket") + "'");" />
</div>